In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('youtube.csv', encoding='unicode_escape')
data.head(10)

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
5,6,Music,119000000,0.000000e+00,NaN,Music,0,NaN,NaN,Music,...,NaN,2013.0,Sep,24.0,NaN,NaN,NaN,NaN,NaN,NaN
6,7,ýýý Kids Diana Show,112000000,9.324704e+10,People & Blogs,ýýý Kids Diana Show,1111,United States,US,Entertainment,...,NaN,2015.0,May,12.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
7,8,PewDiePie,111000000,2.905804e+10,Gaming,PewDiePie,4716,Japan,JP,Entertainment,...,NaN,2010.0,Apr,29.0,63.2,1.262266e+08,2.29,115782416.0,36.204824,138.252924
8,9,Like Nastya,106000000,9.047906e+10,People & Blogs,Like Nastya Vlog,493,Russia,RU,People,...,100000.0,2016.0,Jan,14.0,81.9,1.443735e+08,4.59,107683889.0,61.524010,105.318756
9,10,Vlad and Niki,98900000,7.718017e+10,Entertainment,Vlad and Niki,574,United States,US,Entertainment,...,600000.0,2018.0,Apr,23.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891

In [3]:
data.category.unique()

array(['Music', 'Film & Animation', 'Entertainment', 'Education', 'Shows',
       nan, 'People & Blogs', 'Gaming', 'Sports', 'Howto & Style',
       'News & Politics', 'Comedy', 'Trailers', 'Nonprofits & Activism',
       'Science & Technology', 'Movies', 'Pets & Animals',
       'Autos & Vehicles', 'Travel & Events'], dtype=object)

In [4]:
data.channel_type.unique()

array(['Music', 'Games', 'Entertainment', 'Education', 'People', 'Sports',
       'Film', 'News', nan, 'Comedy', 'Howto', 'Nonprofit', 'Autos',
       'Tech', 'Animals'], dtype=object)

In [5]:
data.columns

Index(['rank', 'Youtuber', 'subscribers', 'video views', 'category', 'Title',
       'uploads', 'Country', 'Abbreviation', 'channel_type',
       'video_views_rank', 'country_rank', 'channel_type_rank',
       'video_views_for_the_last_30_days', 'lowest_monthly_earnings',
       'highest_monthly_earnings', 'lowest_yearly_earnings',
       'highest_yearly_earnings', 'subscribers_for_last_30_days',
       'created_year', 'created_month', 'created_date',
       'Gross tertiary education enrollment (%)', 'Population',
       'Unemployment rate', 'Urban_population', 'Latitude', 'Longitude'],
      dtype='object')

In [6]:
us_data = data[(data.Abbreviation == 'US')]
us_data = us_data[['subscribers', 'subscribers_for_last_30_days', 'video views', 'video_views_for_the_last_30_days', \
                   'category', 'channel_type', 'lowest_monthly_earnings', 'highest_monthly_earnings', \
                   'lowest_yearly_earnings','highest_yearly_earnings']]
us_data

,subscribers,subscribers_for_last_30_days,video views,video_views_for_the_last_30_days,category,channel_type,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings
1,170000000,NaN,0.000000e+00,1.200000e+01,Film & Animation,Games,0.0,0.05,0.04,0.58
2,166000000,8000000.0,2.836884e+10,1.348000e+09,Entertainment,Entertainment,337000.0,5400000.00,4000000.00,64700000.00
3,162000000,1000000.0,1.640000e+11,1.975000e+09,Education,Education,493800.0,7900000.00,5900000.00,94800000.00
6,112000000,NaN,9.324704e+10,7.316740e+08,People & Blogs,Entertainment,182900.0,2900000.00,2200000.00,35100000.00
9,98900000,600000.0,7.718017e+10,5.805740e+08,Entertainment,Entertainment,145100.0,2300000.00,1700000.00,27900000.00
...,...,...,...,...,...,...,...,...,...,...
973,12400000,NaN,2.394143e+09,2.759600e+04,Gaming,Entertainment,7.0,110.00,83.00,1300.00
983,12400000,100.0,1.608681e+10,NaN,Comedy,People,0.0,0.00,0.00,0.00
987,12400000,NaN,6.202090e+09,5.018800e+07,Music,Music,12500.0,200800.00,150600.00,2400000.00
988,12400000,400000.0,4.779140e+09,1.776000e+08,Education,Games,44400.0,710400.00,532800.00,8500000.00
989,12400000,100000.0,6.993406e+09,4.941200e+07,Music,Entertainment,12400.0,197600.00,148200.00,2400000.00

In [7]:
us_data.isna().sum()

subscribers                           0
subscribers_for_last_30_days        113
video views                           0
video_views_for_the_last_30_days      8
category                             22
channel_type                          0
lowest_monthly_earnings               0
highest_monthly_earnings              0
lowest_yearly_earnings                0
highest_yearly_earnings               0
dtype: int64

In [8]:
us_data.rename({'subscribers_for_last_30_days': 'subscribers_30_days',\
                'video views': 'views',\
                'video_views_for_the_last_30_days': 'views_30_days'}, axis=1, inplace=True)
us_data

,subscribers,subscribers_30_days,views,views_30_days,category,channel_type,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings
1,170000000,NaN,0.000000e+00,1.200000e+01,Film & Animation,Games,0.0,0.05,0.04,0.58
2,166000000,8000000.0,2.836884e+10,1.348000e+09,Entertainment,Entertainment,337000.0,5400000.00,4000000.00,64700000.00
3,162000000,1000000.0,1.640000e+11,1.975000e+09,Education,Education,493800.0,7900000.00,5900000.00,94800000.00
6,112000000,NaN,9.324704e+10,7.316740e+08,People & Blogs,Entertainment,182900.0,2900000.00,2200000.00,35100000.00
9,98900000,600000.0,7.718017e+10,5.805740e+08,Entertainment,Entertainment,145100.0,2300000.00,1700000.00,27900000.00
...,...,...,...,...,...,...,...,...,...,...
973,12400000,NaN,2.394143e+09,2.759600e+04,Gaming,Entertainment,7.0,110.00,83.00,1300.00
983,12400000,100.0,1.608681e+10,NaN,Comedy,People,0.0,0.00,0.00,0.00
987,12400000,NaN,6.202090e+09,5.018800e+07,Music,Music,12500.0,200800.00,150600.00,2400000.00
988,12400000,400000.0,4.779140e+09,1.776000e+08,Education,Games,44400.0,710400.00,532800.00,8500000.00
989,12400000,100000.0,6.993406e+09,4.941200e+07,Music,Entertainment,12400.0,197600.00,148200.00,2400000.00

In [12]:
us_data.channel_type.value_counts()

Entertainment    108
Music             81
Games             26
People            24
Education         18
Comedy            16
Howto             12
Film              11
Sports             6
Tech               4
Animals            3
News               3
Nonprofit          1
Name: channel_type, dtype: int64

## Category

In [10]:
us_cat_filtered = us_data.groupby(['category']).filter(lambda cat: len(cat) > 5)
view_sub_ratio = (us_cat_filtered.views / us_cat_filtered.subscribers).mean()
us_cat = us_cat_filtered.groupby(['category']).mean()
us_cat_max = us_cat_filtered.groupby(['category']).max()
us_cat['max_yearly_earnings'] = us_cat_max.highest_yearly_earnings
us_cat['ratio'] = view_sub_ratio
us_cat.reset_index(inplace=True)
us_cat
# us_cat.to_csv('youtube_us_cat9.csv', encoding='utf-8', index=False)

/var/folders/0s/08yhqlvs1398msmn6w5b9sp40000gn/T/ipykernel_85792/4159243023.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  us_cat = us_cat_filtered.groupby(['category']).mean()

,category,subscribers,subscribers_30_days,views,views_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,max_yearly_earnings,ratio
0,Comedy,1.912273e+07,530776.923077,1.055559e+10,2.472026e+08,51999.181818,831277.272727,623468.181818,9.982214e+06,50200000.0,498.672193
1,Education,3.390000e+07,315384.615385,2.273721e+10,2.533321e+08,59617.647059,953611.764706,712282.352941,1.143791e+07,94800000.0,498.672193
2,Entertainment,2.362647e+07,518919.756757,1.093139e+10,1.325083e+08,32465.133529,519813.533235,387998.381471,6.237909e+06,64700000.0,498.672193
3,Film & Animation,3.684167e+07,878106.777778,1.322784e+10,2.807171e+08,58467.083333,934398.587500,700788.503333,1.122792e+07,110600000.0,498.672193
4,Gaming,1.897308e+07,229411.764706,8.264560e+09,9.492087e+07,23723.346538,381250.388077,284014.733462,4.551765e+06,21100000.0,498.672193
5,Howto & Style,1.663333e+07,120000.000000,4.439164e+09,3.984708e+07,9961.333333,159375.000000,119550.000000,1.913008e+06,5300000.0,498.672193
6,Music,2.313973e+07,150277.500000,1.386470e+10,1.110685e+08,27770.561918,444222.950685,332814.141096,5.331321e+06,25400000.0,498.672193
7,People & Blogs,2.112105e+07,342892.892857,1.037650e+10,1.823928e+08,44397.131579,710104.000263,534008.263421,8.522834e+06,65500000.0,498.672193
8,Science & Technology,1.993333e+07,100001.666667,4.462723e+09,1.364449e+09,9733.333333,155483.333333,116633.333333,1.866667e+06,4300000.0,498.672193

In [11]:
us_cat = us_data.groupby(['category']).mean()
us_cat_max = us_data.groupby(['category']).max()
us_cat['max_yearly_earnings'] = us_cat_max.highest_yearly_earnings
us_cat.reset_index(inplace=True)
us_cat
# us_cat.to_csv('youtube_us_cat.csv', encoding='utf-8', index=False)

/var/folders/0s/08yhqlvs1398msmn6w5b9sp40000gn/T/ipykernel_85792/4161816963.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  us_cat = us_data.groupby(['category']).mean()

,category,subscribers,subscribers_30_days,views,views_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,max_yearly_earnings
0,Comedy,1.912273e+07,530776.923077,1.055559e+10,2.472026e+08,51999.181818,8.312773e+05,6.234682e+05,9.982214e+06,50200000.0
1,Education,3.390000e+07,315384.615385,2.273721e+10,2.533321e+08,59617.647059,9.536118e+05,7.122824e+05,1.143791e+07,94800000.0
2,Entertainment,2.362647e+07,518919.756757,1.093139e+10,1.325083e+08,32465.133529,5.198135e+05,3.879984e+05,6.237909e+06,64700000.0
3,Film & Animation,3.684167e+07,878106.777778,1.322784e+10,2.807171e+08,58467.083333,9.343986e+05,7.007885e+05,1.122792e+07,110600000.0
4,Gaming,1.897308e+07,229411.764706,8.264560e+09,9.492087e+07,23723.346538,3.812504e+05,2.840147e+05,4.551765e+06,21100000.0
5,Howto & Style,1.663333e+07,120000.000000,4.439164e+09,3.984708e+07,9961.333333,1.593750e+05,1.195500e+05,1.913008e+06,5300000.0
6,Music,2.313973e+07,150277.500000,1.386470e+10,1.110685e+08,27770.561918,4.442230e+05,3.328141e+05,5.331321e+06,25400000.0
7,News & Politics,2.080000e+07,166666.666667,1.058545e+10,1.009220e+08,25240.800000,4.036730e+05,3.027498e+05,4.840156e+06,9000000.0
8,Nonprofits & Activism,3.860000e+07,100000.000000,7.339333e+09,4.563800e+07,11400.000000,1.826000e+05,1.369000e+05,2.200000e+06,2200000.0
9,People & Blogs,2.112105e+07,342892.892857,1.037650e+10,1.823928e+08,44397.131579,7.101040e+05,5.340083e+05,8.522834e+06,65500000.0
10,Pets & Animals,2.230000e+07,600000.000000,1.260878e+10,3.790215e+08,94400.000000,1.500000e+06,1.150000e+06,1.810000e+07,36200000.0
11,Science & Technology,1.993333e+07,100001.666667,4.462723e+09,1.364449e+09,9733.333333,1.554833e+05,1.166333e+05,1.866667e+06,4300000.0
12,Shows,2.575000e+07,525000.000000,1.694386e+10,2.939350e+08,73500.000000,1.181075e+06,8.789500e+05,1.412500e+07,32200000.0
13,Sports,4.124000e+07,225000.000000,2.307593e+10,2.185448e+08,54660.000000,8.824800e+05,6.468600e+05,1.050000e+07,34300000.0

## Type

In [13]:
us_type_filtered = us_data.groupby(['channel_type']).filter(lambda t: len(t) > 5)
view_sub_ratio = (us_type_filtered.views / us_type_filtered.subscribers).mean()
us_type = us_type_filtered.groupby(['channel_type']).mean()
us_type_max = us_type_filtered.groupby(['channel_type']).max()
us_type['max_yearly_earnings'] = us_type_max.highest_yearly_earnings
us_type['ratio'] = view_sub_ratio
us_type.reset_index(inplace=True)
us_type
# us_type.to_csv('youtube_us_type9.csv', encoding='utf-8', index=False)

/var/folders/0s/08yhqlvs1398msmn6w5b9sp40000gn/T/ipykernel_85792/1638370252.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  us_type = us_type_filtered.groupby(['channel_type']).mean()
/var/folders/0s/08yhqlvs1398msmn6w5b9sp40000gn/T/ipykernel_85792/1638370252.py:4: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  us_type_max = us_type_filtered.groupby(['channel_type']).max()

In [14]:
us_type = us_data.groupby(['channel_type']).mean()
us_type_max = us_data.groupby(['channel_type']).max()
us_type['max_yearly_earnings'] = us_type_max.highest_yearly_earnings
us_type.reset_index(inplace=True)
us_type
# us_type.to_csv('youtube_us_type.csv', encoding='utf-8', index=False)

/var/folders/0s/08yhqlvs1398msmn6w5b9sp40000gn/T/ipykernel_85792/3370810371.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  us_type = us_data.groupby(['channel_type']).mean()
/var/folders/0s/08yhqlvs1398msmn6w5b9sp40000gn/T/ipykernel_85792/3370810371.py:2: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  us_type_max = us_data.groupby(['channel_type']).max()

,channel_type,subscribers,subscribers_30_days,views,views_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,max_yearly_earnings
0,Animals,1.953333e+07,766666.666667,1.471175e+10,7.073477e+08,176566.666667,2.833333e+06,2.133333e+06,3.390000e+07,65500000.0
1,Comedy,1.866250e+07,666666.666667,1.078669e+10,2.444018e+08,59876.562500,9.576312e+05,7.206438e+05,1.149992e+07,50200000.0
2,Education,3.265000e+07,278571.428571,2.148137e+10,2.381125e+08,59538.888889,9.538667e+05,7.118222e+05,1.143086e+07,94800000.0
3,Entertainment,2.383426e+07,500000.144928,1.065986e+10,2.169235e+08,35744.138889,5.708577e+05,4.282562e+05,6.862018e+06,110600000.0
4,Film,2.437273e+07,237628.750000,1.520246e+10,1.911183e+08,30548.183636,4.868273e+05,3.651091e+05,5.858573e+06,32200000.0
5,Games,2.484231e+07,246666.733333,8.786097e+09,1.244570e+08,26326.923462,4.242885e+05,3.134077e+05,5.047000e+06,39100000.0
6,Howto,1.659167e+07,100000.000000,5.250067e+09,3.984608e+07,9961.333333,1.593667e+05,1.195333e+05,1.918075e+06,5100000.0
7,Music,2.361111e+07,169784.782609,1.345494e+10,1.128800e+08,28221.395309,4.514762e+05,3.382868e+05,5.420540e+06,25400000.0
8,News,1.656667e+07,100000.000000,1.315110e+10,1.242437e+08,31068.000000,4.969550e+05,3.727163e+05,5.966926e+06,9000000.0
9,Nonprofit,3.860000e+07,100000.000000,7.339333e+09,4.563800e+07,11400.000000,1.826000e+05,1.369000e+05,2.200000e+06,2200000.0
10,People,1.645000e+07,347582.157895,8.742193e+09,1.892340e+08,44904.585833,7.169223e+05,5.397865e+05,8.619204e+06,57800000.0
11,Sports,3.660000e+07,180000.200000,1.994764e+10,1.821207e+08,45550.000000,7.354000e+05,5.390500e+05,8.750000e+06,34300000.0
12,Tech,2.055000e+07,125000.000000,2.708110e+09,5.017000e+07,12550.000000,2.006750e+05,1.505250e+05,2.408950e+06,4300000.0